{:paths ["src/main"]
 :deps {applied-science/js-interop {:mvn/version "0.4.2"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        funcool/promesa {:mvn/version "11.0.678"}
        hoplon/hoplon {:git/url "https://github.com/hoplon/hoplon"
                       :git/sha "4fda39a683d6967aa78506b8fb51b70ab9e1673f"}
        lambdaisland/glogi {:mvn/version "1.3.169"}
        macchiato/core {:mvn/version "0.2.24"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :aliases {:dev {:jvm-opts ["-Dlogback.configurationFile=logback.xml" "--illegal-access=deny"]}
           :cljs {:extra-deps {binaryage/devtools {:mvn/version "1.0.7"}
                               cider/cider-nrepl {:mvn/version "0.30.0"}
                               refactor-nrepl/refactor-nrepl {:mvn/version "3.9.0"}
                               thheller/shadow-cljs {:mvn/version "2.25.6"}}}
           :cljs-cli {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.6"}}
                      :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
