{:paths ["src/main"]
 :deps {applied-science/js-interop {:mvn/version "0.3.3"}
        binaryage/devtools {:mvn/version "1.0.6"}
        cider/cider-nrepl {:mvn/version "0.29.0"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        funcool/promesa {:mvn/version "10.0.570"}
        hoplon/hoplon {:git/url "https://github.com/hoplon/hoplon" :sha "6616e18b9b7d640d14238848bf5f36c6e01f0d1a"}
        lambdaisland/glogi {:mvn/version "1.2.164"}
        macchiato/core {:mvn/version "0.2.22"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :aliases {:dev {:jvm-opts ["-Dlogback.configurationFile=logback.xml" "--illegal-access=deny"]}
           :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.14"}}}
           :cljs-cli {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.14"}}
                  :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           :patch {:extra-paths ["src/lib"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "2.3.0"}}
                      :main-opts  ["-m" "depot.outdated.main"]}}}
