{:deps true
 :nrepl {:port 9000}
 :builds
 {:app
  {:target :esm
   :output-dir "resources/public/js"
   :asset-path "/js"
   :devtools {:http-root "resources/public"
              :http-port 3000}
   :modules {:hoplon {:init-fn examples.hoplon/main}}}}}
