{:source-paths
 ["src/main"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [cider/cider-nrepl "0.25.3"]
  [cljs-http "0.1.46"]
  [funcool/promesa "5.1.0"]
  [hoplon "7.2.0"]]

 :nrepl {:port 9000}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :devtools {:http-root "resources/public"
              :http-port 3000}
   :modules {:hoplon {:entries [examples.hoplon]}}}}}
